{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class=""><a href="{:url('admin/cert/index')}">认证管理</a></li>
            <li class="layui-this">编辑信息</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form form-container" action="{:url('admin/cert/update')}" method="post">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户</label>
                        <div class="layui-input-block">
                            <select name="user_id">
                            {foreach name="user_list" item="vo"}
                            <option value="{$vo.id}" {if condition="$cert.user_id==$vo.id"} selected {/if}>{$vo.username}</option>
                            {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">证书</label>
                        <div class="layui-input-block">
                            {if condition="$cert.thumb neq ''"}
                            <img src="__PUBLIC__{$cert.thumb}" width="300" height="200"><br>{/if}
                            <input type="text" name="thumb" value="{$cert.thumb}" class="layui-input layui-input-inline" id="thumb">
                            <input type="file" name="file" class="layui-upload-file">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="hidden" name="bc_id" value="{$cert.bc_id}">
                            <button class="layui-btn" lay-submit lay-filter="*">更新</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}