{include file="/Index/header" /}
<script language="javascript">
    document.oncontextmenu=function(){return false;}
    document.onkeydown=function(event){
    var e = event || window.event || arguments.callee.caller.arguments[0];
        if(e && e.keyCode==116){
            return false;
        }
    }
</script>
<div class="pay">
<dl>
<dt><img src="__HOME__/images/pay.png"><br><img src="{:url('qrcode',['text'=>$text])}"></dt>
<dd><font color="#FF0000" size="+3">￥{$money}元</font><br>
<p>请扫描二维码支付，支付成功后请进入个人中心查看所购买的商品</p>
</dd>
</dl>
</div>
{include file="/Index/footer" /}
