{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class=""><a href="{:url('admin/news/index',['n_sel'=>$n_sel])}">文章管理</a></li>
            <li class="layui-this">编辑栏目</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form form-container" action="{:url('admin/news/update',['n_sel'=>$n_sel])}" method="post">
                    <div class="layui-form-item">
                        <label class="layui-form-label">标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="n_title" value="{$news.n_title}" required  lay-verify="required" placeholder="请输入标题" class="layui-input">
                        </div>
                    </div>
                   
                    <div class="layui-form-item">
                        <label class="layui-form-label">缩略图</label>
                        <div class="layui-input-block">
                            {if condition="$news.n_pic neq ''"}
                            <img src="__PUBLIC__{$news.n_pic}" width="300" height="200"><br>{/if}
                            <input type="text" name="n_pic" value="{$news.n_pic}" class="layui-input layui-input-inline" id="thumb">
                            <input type="file" name="file" class="layui-upload-file">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">大概简介</label>
                        <div class="layui-input-block">
                            <textarea name="n_textb" placeholder="（选填）请输入简介" class="layui-textarea">{$news.n_textb}</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">内容</label>
                        <div class="layui-input-block">
                            <textarea name="n_text" lay-verify="n_text" placeholder="" class="layui-textarea" id="n_text">{$news.n_text}</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">发布时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="n_datetime" value="{$news.n_datetime}" class="layui-input datetime">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="hidden" name="n_id" value="{$news.n_id}">
                            <button class="layui-btn" lay-submit lay-filter="*">更新</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script src="__JS__/ueditorPHP/ueditor.config.js"></script>
<script src="__JS__/ueditorPHP/ueditor.all.min.js"></script>
{/block}
{block name="script"}
<script>
    var ue = UE.getEditor('n_text');
</script>
{/block}