{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class=""><a href="{:url('admin/team/index',['t_sel'=>$t_sel])}">信息管理</a></li>
            <li class="layui-this">编辑信息</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form form-container" action="{:url('admin/team/update',['t_sel'=>$t_sel])}" method="post">
                    <div class="layui-form-item">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-block">
                            <input type="text" name="t_title" value="{$team.t_title}" required  lay-verify="required" placeholder="请输入标题" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">大概简介</label>
                        <div class="layui-input-block">
                            <textarea name="t_text1" placeholder="" class="layui-textarea">{$team.t_text1}</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">内容</label>
                        <div class="layui-input-block">
                            <textarea name="t_text" lay-verify="t_text" placeholder="" class="layui-textarea" id="t_text">{$team.t_text}</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">人物照片</label>
                        <div class="layui-input-block">
                            {if condition="$team.t_pic neq ''"}
                            <img src="__PUBLIC__{$team.t_pic}" width="300" height="200"><br>{/if}
                            <input type="text" name="t_pic" value="{$team.t_pic}" class="layui-input layui-input-inline" id="thumb">
                            <input type="file" name="file" class="layui-upload-file">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">职位</label>
                        <div class="layui-input-block">
                            <input type="text" name="t_zw" class="layui-input" value="{$team.t_zw}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">专业</label>
                        <div class="layui-input-block">
                            <input type="text" name="t_zy" class="layui-input" value="{$team.t_zy}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">老师标注</label>
                        <div class="layui-input-block">
                            <input type="radio" name="t_lb" value="1" title="其他课老师" {if condition="$team.t_lb==1"} checked="checked"{/if}>
                            <input type="radio" name="t_lb" value="2" title="小班课老师" {if condition="$team.t_lb==2"} checked="checked"{/if}>(如果老师同时兼容多课无关系，只是标注是否教小班课)
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="hidden" name="t_id" value="{$team.t_id}">
                            <button class="layui-btn" lay-submit lay-filter="*">更新</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script src="__JS__/ueditorPHP/ueditor.config.js"></script>
<script src="__JS__/ueditorPHP/ueditor.all.min.js"></script>
{/block}
{block name="script"}
<script>
    var ue = UE.getEditor('t_text');
</script>
{/block}