{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class=""><a href="{:url('admin/order/index')}">所有订单</a></li>
            <li class="layui-this">查看</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table class="layui-table">
                    <tr>
                        <td width="120" align="center">购买人</td>
                        <td>{$user.username}</td>
                    </tr>
                    <tr>
                        <td width="120" align="center">项目名称</td>
                        {if condition="$order.v_id neq 0"}<td>{$video.v_title} </td>{/if}
                        {if condition="$order.p_id neq 0"}<td>{$package.p_title}</td>{/if}
                        {if condition="$order.bt_id neq 0"}<td>{$videom.bt_title}</td>{/if}
                        {if condition="$order.vd_id neq 0"}<td>{$videoD.vd_title}</td>{/if}
                    </tr>
                    
                    <tr>
                        <td width="120" align="center">购买价格</td>
                        <td>{$order.o_money} 元</td>
                    </tr>   
                    <tr>
                        <td width="120" align="center">对应微平台商品订单号</td>
                        <td>{$order.transaction_id}</td>
                    </tr> 
                    <tr>
                        <td width="120" align="center">购买时间</td>
                        <td>{$order.o_datetime}</td>
                    </tr>  
                </table>
            </div>
        </div>
    </div>
</div>
{/block}