<!--底部菜单开始-->
<div class="weui_tabbar">
    <a href="{:url('/mobile/index/')}" class="weui_tabbar_item weui_bar_item_on">
        <div class="weui_tabbar_icon">
          <img src="__MOBILE__/images/icon_nav_button.png" alt="">
        </div>
        <p class="weui_tabbar_label">首页</p>
    </a>
    <a href="{:url('/mobile/index/News', ['n_sel' => 6])}" class="weui_tabbar_item">
        <div class="weui_tabbar_icon">
           <img src="__MOBILE__/images/icon_nav_hd.png" alt="">
        </div>
        <p class="weui_tabbar_label">文化理念</p>
    </a>
    <a href="{:url('/mobile/User/UserContole/')}" class="weui_tabbar_item">
        <div class="weui_tabbar_icon">
          <img src="__MOBILE__/images/icon_nav_my.png" alt="">
        </div>
        <p class="weui_tabbar_label">我的</p>
    </a>
</div>
<!--底部菜单结束-->
</div>
</body>
</html>
