{include file="/Index/header" /} 
<body ontouchstart>
<div class="weui_tab">
    <div class="weui_tab_bd" >
        <div class="weui_navbar">
            <div class="weui_navbar_item weui_bar_item_on">
                文化理念
            </div>
            <div class="weui_navbar_item">
                <a href="{:url('/mobile/index/Pic', ['p_sel' => 1])}">图文视频</a>
            </div>
            <div class="weui_navbar_item">
                <a href="{:url('/mobile/index/News', ['n_sel' => 1])}">资讯</a>
            </div>
            <div class="weui_navbar_item">
                <a href="{:url('/mobile/index/News', ['n_sel' => 2])}">国内美育理论</a>
            </div>
            <div class="weui_navbar_item">
                <a href="{:url('/mobile/index/News', ['n_sel' => 3])}">国际美育理论</a>
            </div>
            <div class="weui_navbar_item">
                <a href="{:url('/mobile/index/News', ['n_sel' => 4])}">董事长寄语</a>
            </div>
            <div class="weui_navbar_item">
                <a href="{:url('/mobile/index/News', ['n_sel' => 5])}">专家指导</a>
            </div>
            <div class="weui_navbar_item">
                <a href="{:url('/mobile/index/News', ['n_sel' => 6])}">百亿欧文化理念</a>
            </div>
            <div class="weui_navbar_item">
                <a href="{:url('/mobile/index/News', ['n_sel' => 7])}">涂鸦报告</a>
            </div>
        </div>
    <div class="weui_tab_bd">
        <div class="weui_panel weui_panel_access">
        <div class="weui_panel_bd">
            {foreach name="picList" id="vo"}
            <a href="{:url('/mobile/index/PicView', ['p_sel' => $vo.p_sel,'p_id' => $vo.p_id])}" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="__PUBLIC__{$vo.p_pic}" alt="">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">{$vo['p_title']|mb_substr=0,22,'utf-8'}</h4>
                    <p class="weui_media_desc">{$vo['p_textb']|mb_substr=0,22,'utf-8'}</p>
                </div> 
            </a>
            {/foreach}
        </div>
        <div class="weui_panel_ft">{$picList->render()}</div>
    </div>

        </div>
    </div>
{include file="/Index/footer" /} 