{include file="/Index/header" /} 
<body ontouchstart>
<div class="weui_tab">
    <div class="weui_tab_bd" >
        <div class="weui_navbar">
            <div class="weui_navbar_item weui_bar_item_on">
				{$title}
            </div>
        </div>
    <div class="weui_tab_bd">
        <div class="weui_panel weui_panel_access">
        <div class="weui_panel_bd">
            {foreach name="teamList" id="vo"}
            <a href="{:url('/mobile/Index/TeamView', ['t_sel' => $vo.t_sel,'t_id' => $vo.t_id])}" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="__PUBLIC__{$vo.t_pic}">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">{$vo['t_title']}</h4>
                    <p class="weui_media_desc">{$vo['t_text1']}</p>
                </div> 
            </a>
            {/foreach}
        </div>
        <div class="weui_panel_ft">{$teamList->render()}</div>
    </div>

        </div>
    </div>
{include file="/Index/footer" /} 