{include file="/Index/header" /}
<body style="background-color:#FFF">
<div class="weui_tab">
    <div class="weui_tab_bd">
        <article class="weui_article">
            <h1><b>{$Reulst.t_title}</b></h1>
            <section>
            <h3>职位：{$Reulst.t_zw} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;专业：{$Reulst.t_zy}</h3>
            <p align="center"><img src="__PUBLIC__{$Reulst.t_pic}" height="300"></p>
            {$Reulst.t_text}
            </section>
        </article>   
    </div>
</div>
{include file="/Index/footer" /}