{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class=""><a href="{:url('admin/video/index')}">视频管理</a></li>
            <li class="layui-this">添加视频</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form form-container" action="{:url('admin/video/save')}" method="post">
                    <div class="layui-form-item">
                        <label class="layui-form-label">标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="bv_title" value="" required  lay-verify="required" placeholder="请输入标题" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">缩略图</label>
                        <div class="layui-input-block">
                            <input type="text" name="thumb" value="" class="layui-input layui-input-inline" id="thumb">
                            <input type="file" name="file" class="layui-upload-file">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">视频</label>
                        <div class="layui-input-block">
                            <button type="button" id="upload-video-btn" class="layui-btn">上传视频</button>
                            <div id="video-container"></div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">种类</label>
                        <div class="layui-input-block">
                            <input type="radio" name="bv_selb" value="1" title="听画" checked="checked">
                            <input type="radio" name="bv_selb" value="2" title="说画">
                            <input type="radio" name="bv_selb" value="3" title="绘画">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">内容</label>
                        <div class="layui-input-block">
                            <textarea name="bv_text" placeholder="" class="layui-textarea" id="bv_text"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">价格(/元)</label>
                        <div class="layui-input-block">
                            <input type="text" name="bv_money" value="0" required  lay-verify="required" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">时长(/分钟)</label>
                        <div class="layui-input-block">
                            <input type="text" name="bv_time" value="0" required  lay-verify="required" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">积分(/分)</label>
                        <div class="layui-input-block">
                            <input type="text" name="bv_score" value="0" required  lay-verify="required" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">排序</label>
                        <div class="layui-input-block">
                            <input type="text" name="sort" value="0" required  lay-verify="required" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="*">保存</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script src="__JS__/ueditorPHP/ueditor.config.js"></script>
<script src="__JS__/ueditorPHP/ueditor.all.min.js"></script>
{/block}
{block name="script"}
<script>
    $(function() {
        var ue = UE.getEditor('bv_text'),
        uploadEditor = UE.getEditor('upload-photo-btn'),
        videoEditor = UE.getEditor('upload-video-btn'),
        photoListItem,
        videoListItem,
        uploadVideo,
        uploadImage;

    uploadEditor.ready(function () {
        uploadEditor.setDisabled();
        uploadEditor.hide();

        uploadEditor.addListener('beforeInsertImage', function (t, arg) {
            $.each(arg, function (index, item) {
                photoListItem = '<div class="photo-list"><input type="text" name="photo[]" value="' + item.src + '" class="layui-input layui-input-inline">';
                photoListItem += '<button type="button" class="layui-btn layui-btn-danger remove-photo-btn">移除</button></div>';

                $('#photo-container').append(photoListItem).on('click', '.remove-photo-btn', function () {
                    $(this).parent('.photo-list').remove();
                });
            });
        });
    });
    
    videoEditor.ready(function () {
        videoEditor.setDisabled();
        videoEditor.hide();
        videoEditor.addListener('afterInsertVideo', function (t, arg) {
            $.each(arg, function (index, item) {
                videoListItem = '<div class="video-list"><input type="text" name="video[]" value="' + item.url + '" class="layui-input layui-input-inline">';
                videoListItem += '<button type="button" class="layui-btn layui-btn-danger remove-video-btn">移除</button></div>';

                $('#video-container').append(videoListItem).on('click', '.remove-video-btn', function () {
                    $(this).parent('.video-list').remove();
                });
            });
        });
    });

    $('#upload-photo-btn').on('click', function () {
        uploadImage = uploadEditor.getDialog("insertimage");
        uploadImage.open();
    });

    $('#upload-video-btn').on('click', function () {
        uploadVideo = videoEditor.getDialog("insertvideo");
        uploadVideo.open();
    });
    });
</script>
{/block}