{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li><a href="{:url('admin/VideoDirectory/index',['vd_sel'=>$v_sel])}">{$title}视频总目录管理</a></li>
            <li class="layui-this">视频管理</li>
            <li class=""><a href="{:url('admin/video/add',['v_sel'=>$v_sel])}">添加视频</a></li>
        </ul>
        <div class="layui-tab-content">
            <form action="" method="post" class="ajax-form">
                <button type="button" class="layui-btn layui-btn-danger layui-btn-small ajax-action" data-action="{:url('admin/video/delete',['v_sel'=>$v_sel])}">删除</button>
                <div class="layui-tab-item layui-show">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th style="width: 15px;"><input type="checkbox" class="check-all"></th>
                            <th style="width: 30px;">ID</th>
                            <th>标题</th>
                            <th>视频价格</th>
                            <th>视频时长</th>
                            <th>积分</th>
                            <th>发布日期</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach name="video_list" item="vo"}
                        <tr>
                            <td><input type="checkbox" name="ids[]" value="{$vo.v_id}"></td>
                            <td>{$vo.v_id}</td>
                            <td>{if condition="$vo.v_selb eq 1"}【大班】{/if}{if condition="$vo.v_selb eq 2"}【中班】{/if}{if condition="$vo.v_selb eq 3"}【小班】{/if}{$vo.v_title}</td>
                            <td>{$vo.v_money}</td>
                            <td>{$vo.v_time}</td>
                            <td>{$vo.v_score}</td>
                            <td>{$vo.v_datetime}</td>
                            <td>
                                <a href="{:url('admin/video/edit',['v_id'=>$vo['v_id'],'v_sel'=>$vo['v_sel']])}" class="layui-btn layui-btn-normal layui-btn-mini">编辑</a>
                                <a href="{:url('admin/video/delete',['v_id'=>$vo['v_id'],'v_sel'=>$vo['v_sel']])}" class="layui-btn layui-btn-danger layui-btn-mini ajax-delete">删除</a>
                                <a href="{:url('admin/videoRight/index',['v_id'=>$vo['v_id'],'v_sel'=>$vo['v_sel'],'v_title'=>$vo['v_title']])}" class="layui-btn layui-btn-normal layui-btn-mini">编辑活动参照实施</a>
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                    <!--分页-->
                    {$video_list->render()}
                </div>
            </form>
        </div>
    </div>
</div>
{/block}