<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>百亿欧</title>
<link href="__HOME__/css/page.css" type="text/css" rel="stylesheet">
</head>

<body background="__HOME__/images/body.jpg">
<form action="{:url('/index/User/LoginSubmit')}" method="post" name="forma">
<div class="login_bg">
    <div class="login">
    <h1>百亿欧</h1>
    <ul>
        <li><input type="text" class="name" placeholder="手机号" name="mobile" ></li>
        <li><input type="password" class="name" placeholder="密码" name="password"></li>
        <li><input type="submit" class="menu" value="登录"></li>
        <li>还没有帐号？ <a href="{:url('/index/User/Regit')}">立即注册</a></li>
    </ul>
    </div>
</div>
</form>
</body>
</html>
